<div class="container">
  <h1><%= @list.name %></h1>
  <%= link_to '+', new_list_bookmark_path(@list.bookmarks),  class: 'btn btn-primary' %>
  <div class="cards">
      <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product ">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-product-infos">
          <%= bookmark.movie.title %>
          <%= bookmark.comment %>
          <%= bookmark.movie.overview %>
          <%= bookmark.movie.rating %>
        </div>
      </div>
    <% end %>

    <%= link_to 'Back', lists_path, class: 'btn btn-secondary' %>
  </div>
</div>
