<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <h1>Add new movie to your list </h1>
    <%= link_to 'Back', list_path(@list), class: 'btn btn-secondary mb-4' %>
  </div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, collection: @movies, include_blank: false  %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

</div>
